%h1= t('categories.listing_categories')

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.description
        %td= link_to t('common.show'), category
        %td= link_to t('common.edit'), edit_category_path(category)
        %td= link_to t('common.destroy'), category, :data => { turbo_method: :delete, :turbo_confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_category_path
